body{
	margin: 0px;
	font-size: 14px;
	font-family: PingFangSC-Regular,HelveticaNeue-Light,'Helvetica Neue Light','Microsoft YaHei',sans-serif;
}
.center{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
a{
	text-decoration: none;
}
a:hover{
	color: #ed4259;
}
li{
	list-style: none;
}
em{
	font-style: normal;
}
.a{
    border-bottom: 1px solid #e5e5e5;
    background: #f7f7f7;
    height: 35px;
}
.a1{
	float: left;
	line-height: 32px;
}
.a1-1{
	float: left;
	background-color: #fff;
	width: 80px;
	height: 36px;
	text-align: center;
	border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    margin-right: 10px;
    line-height: 32px;
}
.a1-2{
	color: grey;
}
.a1-3{
	margin: 0 10px;
    color: #d9d9d9;
}
.a1-4{
	color: #575757;
}
.a2{
	float: right;
	line-height: 32px;
}
.a1-5{
	margin: 16px 184px 0 0;
	float: left;
}
.a1-6{
	width: 348px;
    height: 38px;
    border: 1px solid #dbdbdb;
    float: left;
    margin-top: 22px;
    padding: 0 11px;
}
.a1-7{
	position: relative;
	top: 22px;
	width: 40px;
	height: 40px;
    text-align: center;
    background-color: #bf2c24;
    color: #fff;
    font-size: 22px;
    line-height: 40px;
    float: left;
}
.a1-7:hover{
	background-color: #ed4259;
}
.a1-8{
	float: right;
	margin-top: 22px;
	width: 120px;
    height: 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #e6e6e6;
    font-size: 16px;
    line-height: 40px;
}
.a1-8:hover{
	background-color: #ed4259;
	color: #fff;
}
.a1-9{
	position: relative;
	top: 2px;
	margin-right: 5px;
}
.a0{
	height: 84px;
}
.a3{
	clear: both;
	margin-bottom: 10px;
	background-color: #3e3d43;
	height: 40px;
	font-size: 16px;
}
.a3-1{
	width: 198px;
    height: 40px;
    margin-right: 30px;
    background-color: #313035;
    float: left;
   	line-height: 37px;
    padding: 0 0 0 18px;
}
.a3-1 a{
	color: #fff;
}
.a3-2{
	color: #fff;
}
.a3-3{
	height: 36px;
	padding: 0 32px;
	line-height: 37px;
	float: left;
}
.a3-3 a{
	color: #fff;
}
.a3-3:hover{
	border-top: 2px solid #ed4259;
	line-height: 33px;
	background-color: #252428;
}
.a3-4{
	color: #fff;
	float: right;
	line-height: 37px;
}
.a3-5{
	color: #fff;
	float: right;
	line-height: 37px;
	margin-right: 20px;
}
.a3-5:hover{
	color: #ffeea8;
}
.a3-4:hover{
	color: #ffeea8;
}
.a3-6{
	float: right;
	margin-right: 7px;
}
.a3-7{
	height: 40px;
	padding: 0 32px;
	line-height: 37px;
	float: left;
	background-color: #ed4259;
}
.a3-8{
	color: #fff;
}
.a3-8:hover{
	color: #fff;
}
.a4{
	padding: 20px 0 0;
}
.a4-1{
	width: 216px;
    margin-right: 30px;
    float: left;
}
.a4-2{
	height: 30px;
}
.a4-3{
	width: 60px;
	height: 30px;
	border-top: 2px solid #ed4259;
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    background: #fff;
    text-align: center;
    float: left;
    line-height: 25px;
}
.a4-4{
	color: #ed4259;
}
.a4-5{
	width: 135px;
    height: 30px;
    padding: 1px 8px;
    float: left;
    line-height: 25px;
    border-bottom: 1px solid #ebebeb;
}
.a5{
	margin-bottom: 15px;
	border-bottom: 1px solid #ebebeb;
}
.a5-1 span{
	padding: 14px 0 8px;
}
.a5-2{
	width: 26px;
	font-size: 12px;
    color: #fff;
    text-align: center;
    border: 1px solid #ed4259;
    background: #ed4259;
}
.a5-3{
	clear: both;
	width: 216px;
}
.a5-3 h4{
	margin-bottom: 5px;
}
.a5-3 a{
	margin-right: 12px;
    font-size: 12px;
}
.a5-3 div{
	margin-bottom: 8px;
}
.a5-4{
	background: #333;
	padding: 2px 4px 2px;
	color: #fff;
}
.a5-4:hover{
	color: #fff;
}
.a5-5{
	color: #262626;
}
.a5-6{
	padding: 0 4px 0;
}
.a5-7{
	border-bottom: 1px solid #ebebeb;
}
.a5-8{
	color: #3f5a93;
}
.a5-8:hover{
	color: #2972cc;
}
.a6{
	float: left;
	width: 954px;
}
.a6-1{
	height: 40px;
    padding: 0 12px;
    background: #f7f6f2;
    margin-bottom: 24px;
}
.a6-2{
	color: #ed4259;
	margin-right: 10px;
}
.a6-3{
	margin-right: 10px;
	margin-left: 10px;
	color: #999;
}
.a6-1 a{
	line-height: 38px;
}
.a6-4{
	background: #f7f6f2;
	border: 0px;
	height: 30px;
	color: #999;
	width: 75px;
}
.a6-1 em{
	color: #e6e6e6;
}
.a6-5{
	position: relative;
	top: 2px;
	font-size: 12px;
	color: #999;
}
.a6-6{
	position: relative;
	top: -2px;
}
.a6-7{
	float: right;
	line-height: 38px;
	font-size: 12px;
}
.a6-7 span{
	color: #999;
}
.a7{
	width: 954px;
	height: 1854px;
}
.a7-1{
	float: left;
    width: 477px;
	height: 162px;
}
.a7-2{
    width: 102px;
    height: 136px;
    margin-right: 16px;
    float: left;
}
.a7-1 h3{
	line-height: 1px;
	font-size: 18px;
	margin-bottom: 8px;
}
.a7-1 h3:hover{
	color: #ed4259;
}
.a7-3{
	margin-bottom: 6px;
}
.a7-3 img{
	width: 14px;
    height: 14px;
    margin: 1px 5px 0 0;
    position: relative;
    top: 2px;
}
.a7-4{
	height: 48px;
    margin-bottom: 8px;
    color: #666;
}
.a7-5{
	color: #999;
	font-size: 12px;
	line-height: 5px;
}
.a7-6{
    color: #999;
}
.a7-7{
    color: #999;
}
.a7-8{
	color: #e6e6e6;
}
.a7-9{
	border-top: 1px solid #e6e6e6;
	padding-top: 25px;
}
.a8{
	float: right;
	margin-top: 40px;
}
.a8-1{
	color: #fff;
	padding: 0 7px;
    background: #ed4259;
}
.a8-1:hover{
	color: #fff;
}
.a8-2{
	padding: 0 7px;
	color: #262626;
}
.a8-2:hover{
	border: 1px solid #ed4259;
	padding: 0 6px;
	color: #ed4259;
}
.a8-3{
	width: 40px;
    height: 22px;
    border: 1px solid #f2f2f2;
    text-align: center;
}
.a8-4{
	border: 1px solid #f2f2f2;
	padding: 0 8px;
	color: #262626;
}
.a8-4:hover{
	border: 1px solid #ed4259;
}
.b3{
	background: #fafafa;
	height: 183px;
	text-align: center;
	position: relative;
	top: 40px;
	clear: both;
}
.b3-1{
	padding-top: 20px;
    padding-bottom: 12px;
    padding-left: 20px;
    color: #lalala;
    font-size: 12px;
}
.b3-2{
    color: #1a1a1a;
    font-size: 12px;
    margin-right: 15px;
}
.b3-3{
	padding: 0 0 15px;
}
.b3-4{
	font-size: 12px;
    margin-right: 15px;
    color: #666;
}
.b3-5{
	padding-bottom: 20px;
	color: #a6a6a6;
	font-size: 12px;
}
.b3-6{
	padding: 0 0 20px;
}
.b3-6 img{
	margin-right: 14px;
}